:root {
  --fonte: "Montserrat", sans-serif;
  --branco: #ffffff;
  --preto: #000000;
  --cinza: #e2e2e2;
  --coral-pink: #f37a68;
  --blue: #8cb2fd;
}

body {
  margin: 0;
  font-family: var(--fonte);
  background-color: var(--branco);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
